<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fighting Room</title>
    </head>
    <body>
        <h1>Fighting Room</h1>
        <form action="/fighting" method="POST">
            <div>
                <h1>Room name: <%= getRoom.roomname%></h1>
                room id: <input type="text" name="roomid" value="<%=getRoom.id%>" readonly></input>
                score player 1: <input type="text" name="scorePlayer1" value="<%=getRoom.scorePlayer1%>" readonly></input>
                score player 2: <input type="text" name="scorePlayer2" value="<%=getRoom.scorePlayer2%>" readonly></input>
            </div>
            Player 1
            <div>
                <input type="text" name="player1" placeholder="Input id player 1"></input>
            </div>
            <div>
                <input type="text" name="player1pick" placeholder="Input r/p/s player 1"></input>
            </div>
            Player 2
            <div>
                <input type="text" name="player2" placeholder="Input id player 2"></input>
            </div>
            <div>
                <input type="text" name="player2pick" placeholder="Input r/p/s player 2"></input>
            </div>
            <button type="submi">Fight</button>
        </form>
    </body>
</html>