<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Page</title>
    </head>
    <body>
        <h1>Register</h1>
        <form action="/register" method="POST">
            <div>
                <input type="text" name="username" placeholder="Input username"></input>
            </div>
            <div>
                <input type="text" name="password" placeholder="Input password"></input>
            </div>
            <button type="submi">Register</button>
        </form>
    </body>
</html>